baidu-aip==4.16.3
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
future==0.18.2
idna==3.3
numpy @ file:///D:/bld/numpy_1626682185159/work
pocketsphinx==0.1.15
PyAudio==0.2.11
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
python-dotenv==0.20.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.27.1
SpeechRecognition==3.8.1
urllib3==1.26.9
wincertstore==0.2
